<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hou_tai.model.dao.ChannelMapper">
  <resultMap id="BaseResultMap" type="com.hou_tai.model.pojo.Channel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_name" jdbcType="CHAR" property="channelName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hou_tai.model.pojo.Channel">
    insert into channel (id, channel_name)
    values (#{id,jdbcType=INTEGER}, #{channelName,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hou_tai.model.pojo.Channel">
    insert into channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hou_tai.model.pojo.Channel">
    update channel
    <set>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hou_tai.model.pojo.Channel">
    update channel
    set channel_name = #{channelName,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>