<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hou_tai.model.dao.GameTypeMapper">
  <resultMap id="BaseResultMap" type="com.hou_tai.model.pojo.GameType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="CHAR" property="typeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hou_tai.model.pojo.GameType">
    insert into game_type (id, type_name)
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hou_tai.model.pojo.GameType">
    insert into game_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hou_tai.model.pojo.GameType">
    update game_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hou_tai.model.pojo.GameType">
    update game_type
    set type_name = #{typeName,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>