<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hou_tai.model.dao.GameReviewMapper">
  <resultMap id="BaseResultMap" type="com.hou_tai.model.pojo.GameReview">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="review_content" jdbcType="VARCHAR" property="reviewContent" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="help_num" jdbcType="INTEGER" property="helpNum" />
    <result column="review_grade" jdbcType="INTEGER" property="reviewGrade" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="have_reply" jdbcType="INTEGER" property="haveReply" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, game_id, review_content, review_time, help_num,
        review_grade,reply_content,reply_time,have_reply
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game_review
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getGameReviewById" resultType="com.hou_tai.response_vo.GameReviewPageVo">
    SELECT
      ga.id gameId,
      ga.game_name gameName,
      ga.game_type gameType,
      ga.language_id gameLanguage,
      gr.review_content reviewContent,
      gr.id id
    FROM
      game_review gr
        LEFT JOIN game ga ON gr.game_id = ga.id
    WHERE gr.id = #{id,jdbcType=INTEGER}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_review
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hou_tai.model.pojo.GameReview">
    insert into game_review (id, user_id, game_id, 
      review_content, review_time, help_num,review_grade
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{gameId,jdbcType=INTEGER}, 
      #{reviewContent,jdbcType=VARCHAR}, #{reviewTime,jdbcType=TIMESTAMP}, #{helpNum,jdbcType=INTEGER}
      , #{reviewGrade,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hou_tai.model.pojo.GameReview">
    insert into game_review
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="reviewContent != null">
        review_content,
      </if>
      <if test="reviewTime != null">
        review_time,
      </if>
      <if test="helpNum != null">
        help_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="reviewContent != null">
        #{reviewContent,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null">
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="helpNum != null">
        #{helpNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hou_tai.model.pojo.GameReview">
    update game_review
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="reviewContent != null">
        review_content = #{reviewContent,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null">
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="helpNum != null">
        help_num = #{helpNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hou_tai.model.pojo.GameReview">
    update game_review
    set user_id = #{userId,jdbcType=BIGINT},
      game_id = #{gameId,jdbcType=INTEGER},
      review_content = #{reviewContent,jdbcType=VARCHAR},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      help_num = #{helpNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="addHelpNum">
    update game_review set help_num=help_num+1 where  game_id =#{dto.gameId}  and id=#{dto.reviewId}
  </update>
</mapper>